@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

h1 {
	font-weight: 800;
}

.fullscreen {
	position: absolute;
	width: 100%;
	height: 100%;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.center-x {
	left: 50%;
	transform: translateX(-50%);
}

.center-y {
	top: 50%;
	transform: translateY(50%);
}

.page-number {
	position: fixed;
	bottom: 20px;
	font-weight: 800;
}

.fixed {
	position: fixed;
}

.limit600 {
	width: 90vw;
	max-width: 600px;
	width: 90vw;
}

.limit800 {
	width: 90vw;
	max-width: 800px;
}

.small-text {
	font-size: 15px;
}

.left-right-container {
	display: grid;
	position: absolute;
	grid-template-areas: 'left right';
}

.left-right-container .left {
	grid-area: left;
}

.left-right-container .right {
	grid-area: right;
}

.rounded30 {
	border-radius: 30px;
}

.rounded50 {
	border-radius: 50px;
}

.rounded15 {
	border-radius: 15px;
}

@media only screen and (max-width: 800px) {
	.left-right-container {
		grid-template-columns: 1fr !important;
		grid-template-areas: none !important;
		display: inline;
	}
	.left-right-container .left {
		width: 90vw;
		height: 40vh;
		grid-area: auto;
	}
	.left-right-container .right {
		width: 90vw;
		height: 40vh;
		grid-area: auto;
	}
}
